
table.redTable {
    border: 2px solid #607d8b;
    background-color: #EEE7DB;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    }
    table.redTable td, table.redTable th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
    }
    table.redTable tbody td {
    font-size: 13px;
    }
    table.redTable tr:nth-child(even) {
    background: #ffffff;
    }
    table.redTable thead {
    background: #607d8b;
    }
    table.redTable thead th {
    font-size: 19px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #607d8b;
    }
    table.redTable thead th:first-child {
    border-left: none;
    }
    
    table.redTable tfoot {
    font-size: 13px;
    font-weight: bold;
    color: #FFFFFF;
    background: #607d8b;
    }
    table.redTable tfoot td {
    font-size: 13px;
    }
    table.redTable tfoot .links {
    text-align: right;
    }
    table.redTable tfoot .links a{
    display: inline-block;
    background: #FFFFFF;
    color: #607d8b;
    padding: 2px 8px;
    border-radius: 5px;
    }