<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Library Management System</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{ % static "index.css" %}">
</head>
<body>
{% include "library/navbar.html" %}

<h1><marquee direction="right"> <center>WELCOME TO LIBRARY MANAGEMENT SYSTEM</center></marquee></h1>
<h1><marquee direction="left"><center>Here All Categories of Books are Available</center></marquee></h1>
<div class="jumbotron"style="background-image: url('https://wallpaperaccess.com/full/1378126.jpg'); background-size:cover;"
  <h1><b>A library management system is designed to manage all the functions of a library. It helps librarian to maintain the database of new books and the books that are borrowed by members along with their due dates..</b></h1>
  <hr class="my-4">

  <div class="row">

    <div class="col-lg-6">
      <img src="{% static "images/admin image.png" %}" width="50%"  alt=""><br><br>
        <a class="btn btn-primary btn-lg" style="text-align:center; border-radius:0px;" href="/adminclick" role="button">Admin Panel</a>

    </div>

    <div class="col-lg-6">
      <img src="{% static "images/student.jpg" %}" width="50%"  alt=""><br><br>
      <a class="btn btn-primary btn-lg" style="border-radius:0px;" href="/studentclick" role="button">Student Panel</a>
    </div>
  </div>
<hr class="my-4">
</div>

</div>

{% include "library/footer.html" %}

</body>
</html>
