<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Library</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{ % static "studentsignup.css" %}">
  </head>
  <body>
    {% include "library/navbar.html" %}
    <br>
    <br>
    <div class="background" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLPcW4vp-4VWRZ0xTIUClzrw1LcmoQ6zIKKg&usqp=CAU'); background-size:contain;"
<center><h3 style=" margin-bottom: 0px;"class = 'alert alert-success'><center>Signup As Student!</center></h3></center>
    <div class="signup-form">
        <form  method="post" class="form-horizontal">

    			<center><h2>Student Signup</h2></center>

{% csrf_token %}

            {% for field in form1 %}
            <div class="form-group text-center">
              <label class="control-label col-xs-4">{{ field.label_tag }}</label>
              <div class="col-xs-8">
              {{ field }}
               </div>
            </div>
            {% endfor %}
            {% for field in form2 %}
            <div class="form-group text-center">
              <label class="control-label col-xs-4">{{ field.label_tag }}</label>
              <div class="col-xs-8">
              {{ field }}
               </div>
            </div>
            {% endfor %}

    		<div class="form-group text-center">
    			<div class="col-xs-8 col-xs-offset-4">
            <button type="submit" class="btn btn-primary btn-lg" style="border-radius: 0%;">Sign Up</button>
    			</div>
    		</div>
        </form>
    	<div class="text-center">Already have an account? <a href="studentlogin">Login here</a></div>
    </div>




    {% include "library/footer.html" %}
  </body>
</html>
