<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="{ % static "viewbook.css" %}"> 
  </head>
  <body>
    {% include "library/navbaradmin.html" %}
    <br>
    <br>
    <h3 class="p-3 mb-2 bg-success text-white" style = 'font-size: 30px;text-align:center;'>Available Book in Library</h3>
{% if books%}
<div class="container">
  <table class="table table-hover table-condensed table-striped table-bordered">
    <thead>
    <tr>
    <th>Book Name</th>
    <th>ISBN</th>
    <th>Author</th>
    <th>Category</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
    <td colspan="4" rowspan="4">
    <div class="links"></div>
    </td>
    </tr>
    </tfoot>
    <tbody>
      {% for book in books %}
        <tr>
          <td>{{book.name}}</td>
          <td>{{book.isbn}}</td>
          <td>{{book.author}}</td>
          <td>{{book.category}}</td>
        </tr>
      {% endfor %}
    </tbody>
    </table>
</div>
{%else%}
<h1>Have 0 book</h1>
{%endif%}


<br><br><br><br><br><br><br><br><br>
    {% include "library/footer.html" %}
  </body>
</html>
